{% extends "encyclopedia/layout.html" %}

{% block title %}
Edycja strony - {{ title }}
{% endblock %}

{% block body %}
<h2>Edycja strony: {{ title }}</h2>

<form action="{% url 'edit_entry' title=title %}" method="post">
    {% csrf_token %}
    <textarea name="content" rows="20" style="width: 100%;">{{ content }}</textarea>
    <br>
    <input type="submit" value="Zapisz zmiany" class="btn btn-primary">
</form>

<p><a href="{% url 'entry' title=title %}">Anuluj i wróć do strony</a></p>
{% endblock %}
